.wrapper {
    max-width: 100%;
    display: flex;
    justify-content: flex-start;
    height: 100vh;
    overflow: hidden;
}

.body {
    width: calc(100% - 250px);
    padding: 20px;
    order: 1;
}

.content {
    margin-top: 30px;
    padding: 20px;
}

.board {
    width: 250px;
}

.form {
    display: block;
    margin-top: 50px;
}

@media screen and (max-width: 768px){
    .wrapper {
        display: block;
        overflow-y: scroll;
    }
    .body {
        width: 100%;
    }
    .board {
        width: 100%;
        padding: 20px;
    }

    .content {
        padding: 0;
    }
}
