.boardWrapper {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    order: 0;
}

.boardRow {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 35px;
    border: 1px solid #6cc0ff;
    border-top-width: 0 !important;
}

.boardRow:nth-child(1) {
    border-top-width: 1px !important;
    border-bottom-width: 0 !important;
}
.boardRow:nth-child(2) {
    border-top-width: 1px !important;
}

.boardHead {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    width: 100%;
    height: 100%;
    /*background: rgba(218, 237, 255, 0.4);*/
    cursor: pointer;
}

.boardHead:hover, :focus {
    background: rgba(218, 237, 255, 0.4);
}

.boardHead span {
    font-size: 14px;
    font-weight: bold;
    color: #919191;
}

.boardBody {
    width: calc(100% - 70px);
    height: 100%;
}

.driver {
    width: 150px;
    height: 100%;
    border-right: 1px solid #6cc0ff;
}

.boardRow.marked {
    background: rgba(40, 167, 69, .1);
}

.boardRow.notMarked {
    background: rgba(255, 77, 79, .1);
}

.notMarked span {
    color: red;
}
.marked span {
    color: rgb(40, 167, 69);
}

@media screen and (max-width: 768px){
    .boardWrapper {
        height: auto;
        /*border-right: 1px solid #6cc0ff;*/
    }
}
