@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300&display=swap');

:root {
    --primary: #827474;
    --primary-light: #b78d8d;
}

*, body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}

/* Media Query */
@media (max-width: 1380px) {
    html,
    body {
        font-size: 16px;
        line-height: normal;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
}

label, input {
    width: 100%;
    margin: 10px 0;
}

input {
    height: 35px;
    border-radius: 4px;
    border: 1px solid rgba(100, 100, 100, .3);
    padding: 0 20px;
}

.text-danger {
    color: red;
}

.text-success {
    color: rgb(40, 167, 69);
}

.danger {
    background: rgba(255, 77, 79, .1);
    border: 1px solid rgba(255, 77, 79, 1);
}

.warning {
    background: rgba(250, 173, 20, .1);
    border: 1px solid #faad14;
}

.beauty-scroll::-webkit-scrollbar {
    width: 0;
    height: 0;
}

@media (max-width: 728px) {
    .beauty-scroll::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
}

.beauty-scroll::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}

.beauty-scroll::-webkit-scrollbar-thumb {
    background: #c6c6c6;
    border: 0 none #ffffff;
    border-radius: 50px;
}

.beauty-scroll::-webkit-scrollbar-thumb:hover {
    background: #c4c4c4;
}

.beauty-scroll::-webkit-scrollbar-thumb:active {
    background: #c4c4c4;
}

.beauty-scroll::-webkit-scrollbar-track {
    background: #f6f6f6;
    border: 0 none #ffffff;
    border-radius: 50px;
}

.beauty-scroll::-webkit-scrollbar-track:hover {
    background: #f6f6f6;
}

.beauty-scroll::-webkit-scrollbar-track:active {
    background: #f6f6f6;
}

.beauty-scroll::-webkit-scrollbar-corner {
    background: transparent;
}

.information {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
